[submodule "3rdparty/cudd"]
	path = 3rdparty/cudd
	url = https://github.com/ssoelvsten/cudd
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/flags"]
	path = 3rdparty/flags
	url = https://github.com/sailormoon/flags
